@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 900px;
    margin: 0 auto;
}
.header {
    padding: 75px 0 0 0;
    margin: 0 0 105px 0;
}
.nav-list {
    text-align: center;
}
.list-item_l {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 -4px;
    font-size: 14px;
}
.list-item {
    list-style: none;
    display: inline-block;
    margin: 0 100px 0 -4px;
    font-size: 14px;
}
.nav-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    display: block;
}
.nav-link:hover{
    color: #03a9f3;
}
.article-list_li{
  margin-bottom: 30px;

}
.article-item_r{
    /* list-style: none;   */
    display: inline-block; 
    width: 420px; 
    font-family: "Playfair Display", serif;
    margin: 0 0 135px -4px;
} 
.article-item_r_lower{
  /* list-style: none;   */
  display: inline-block; 
  width: 420px; 
  font-family: "Playfair Display", serif;  
  margin: 0 0 0 -4px;
}
.article-item_l {
    /* list-style: none;   */
    display: inline-block; 
    width: 420px; 
    font-family: "Playfair Display", serif;
    margin-right: calc(900px - 420px * 2 - 4px);
} 
/* .article-item_l_lower{
  list-style: none;  
  display: inline-block; 
  width: 420px; 
  font-family: "Playfair Display", serif;  
  margin-right: calc(900px - 420px * 2 - 4px);
} */
img{
  margin-bottom: 30px;
}

.subtitle{
    font-size: 14px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}
.atricle-title{
    margin: 0 0 30px 0;
}
.article-text{
    margin: 0 20px 0 0;
    font-size: 14px;
    width: 420px;
}
.button {
  width: 165px;
  height: 60px;
  display: block;
  line-height: 60px;
  font-size: 16px;  
  /* text-align: center; */
  border: 2px solid black;
  /* background: #a7a7a7; */
  margin: 0 auto;
  font-family: "Playfair Display", serif;
}
.button:hover{
    background:rgb(184, 184, 184);
}
.button a{
    text-decoration: none;
    color: black;
}
.button a:hover{
  text-decoration: none; 
  color: rgb(183, 16, 216);
}
.content{
  padding-bottom: 65px; 
}